@body-font: 'Roboto Mono', monospace;
@title-font: 'Shrikhand', cursive;

@title-font-size: 42px;
@button-font-size: 20px;

@blue: #3973ac;
@lighter-blue: #66b0ff;
@medium-blue: #3396ff;
@darker-blue: #004080;
@dark-blue: #00264d;
@background-color: #e6f9ff;
@pink: #ffccff;
@darker-pink: #ffb3ff;
@grey: #aaa;
@green: #adebad;
@orange: #ff5050;
